.footer {
    bottom:5;
    font-size: 1.5em;
    padding: 1em 0;
    position:relative;
    width: 100vw;
}

.footer-light {
    background-color:white;
    /* border-top:5px solid black; */
}

.footer-dark {
    background-color: #030303;
    color: #999B9D;
    /* border-top:5px solid #999B9D; */
}