.article-li {
    list-style-type: none;
    margin: 1em 0;
}

.anchor-light {
    color: black;
    text-decoration: none;
}

.anchor-dark {
    color: #999B9D;
    text-decoration: none;
}

a:visited{
    color: #6d6d73;
}