
  /* .dark-container {
 } */

 .content {
     width: 50%;
     margin: 0 auto;
     height: 100%;
     padding: 5%;
     background-color: lightgrey;
     border-radius: 10px
 }
 
 /* .dark-content {
 } */

